[user]
	name = sandro
	email = sandromehic@gmail.com
[core]
	editor = nvim
[alias]
	unstage = reset HEAD --
	shorty = status --short --branch
  ls = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
  la = "!git config -l | grep alias | cut -c 7-"
	grog = log --graph --abbrev-commit --decorate --all --format=format:\"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)\"
